<div class="posts">
  <% current_user.posts.each do |post| %>
    <div class="post">
      <%= image_tag(post.picture) %>
      <span class="post-user"><%= current_user.username %></span> <span class="post-caption"><%= post.caption %></span>
    </div>
  <% end %>
</div>
