/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Raleway|Ubuntu');

$navbar-bg-color: #d2d2d2;
$navbar-color: #333;
$navbar-color-hvr: #0a0a0a;

.my-nav {
  display: flex;
  align-items: center;
  border-bottom: solid 1px $navbar-color;
  width: 100%;
  height: 50px;
  .container {
    display: flex;
    justify-content: flex-end;
    .navbar-item {
      color: $navbar-color;
      transition: .3s ease-in-out;
      font-size: 20px;
      margin: 7px;
      &:hover {
        transform: scale(1.01);
        color: $navbar-color-hvr;
        text-decoration: none;
      }
      &.title {
        font-family: 'PT Sans Caption', sans-serif;
        transform: scale(1.5);
      }
    }
  }
}
